html, body {
    height: 100%;
}

.switcher-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.switcher-wrapper .swicher-preview, .switcher-wrapper .switcher-actions {
    width: 45%;
    padding: 1em;
    height: 100%;
}

.switcher-wrapper .swicher-preview {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 880px;
}

.swicher-preview img#base {
    display: none;
}

.switcher-wrapper .switcher-actions .steps {
    display: none;
}

.switcher-wrapper .switcher-actions .steps.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeEffect 2s; /* Fading effect takes 1 second */
}

.switcher-actions .steps ul.printStype {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: unset;
    padding: unset;
}

.switcher-actions .steps ul.printStype li img{
    cursor: pointer;
}

.switcher-actions .steps ul.colorStyle {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: unset;
    padding: unset;
}

.switcher-actions .steps ul.colorStyle li {
    margin: 10px;
    text-align: center;
}

.switcher-actions .steps ul.colorStyle li img {
    border-radius: 100%;
    cursor: pointer;
}

.switcher-actions .steps .jcarousel-wrapper .jcarousel ul li img {
    cursor: pointer;
}

.switcher-actions .steps .jcarousel-wrapper .jcarousel ul li,
ul.printStype li,
ul.colorStyle li {
    position: relative;
    opacity: 100%;
}

.switcher-actions .steps .jcarousel-wrapper .jcarousel ul#topStyle li:hover img,
.switcher-actions .steps .jcarousel-wrapper .jcarousel ul#bottomStyle li:hover img,
ul.printStype li:hover img {
    opacity: 60%;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

.switcher-actions .steps .jcarousel-wrapper .jcarousel ul#topStyle li.selected:before,
.switcher-actions .steps .jcarousel-wrapper .jcarousel ul#bottomStyle li.selected:before,
ul.printStype li.selected:before {
    background: url('images/check.png');
    background-color: #9f9a92;
    background-repeat: no-repeat;
    background-position: 25px 3px;
    background-size: 30px 30px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.switcher-actions .steps ul.colorStyle li.selected:before {
    content: "";
    border: 3px solid #4E443C;
    width: 54px;
    height: 54px;
    border-radius: 100%;
    position: absolute;
    left: -5px;
    top: -5px;
}

ul.printStype li.selected p {
    font-weight: bold;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}